<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- My Trips Tab -->
  <ion-tab title="My Trips" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#app/dash/my_trips">
    <ion-nav-view name="tab-trips"></ion-nav-view>
  </ion-tab>

  <!-- Supervised Tab -->
  <ion-tab title="Supervised" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#app/dash/supervised">
    <ion-nav-view name="tab-supervised"></ion-nav-view>
  </ion-tab>

  <!-- Other Tab -->
  <ion-tab title="Other" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#app/dash/three">
    <ion-nav-view name="tab-three"></ion-nav-view>
  </ion-tab>


</ion-tabs>
