<ion-view view-title="{{ 'template.login.login' | translate }}" name="login-view">
  <ion-content class="padding">
      <h2 class="title li-center unicef-blue">{{ 'template.login.title' | translate }}</h2>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="{{ 'template.login.username' | translate }}" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="{{ 'template.login.password' | translate }}" ng-model="data.password">
          </label>
          <br>
          <div class="item item-toggle">
              {{ 'template.login.remember_me' | translate }}
              <label class="toggle toggle-balanced">
                <input type="checkbox" ng-model="other.rememberMe">
                <div class="track">
                    <div class="handle"></div>
                </div>
              </label>
          </div>
      </div>

      <div ng-translate-language-select></div>

      <button class="button button-block button-calm" ng-click="login()">{{ 'template.login.sign_in' | translate }}</button>
      <img class="img-logo" src="img/logo.png" />
  </ion-content>
</ion-view>