

#actionList {
	clear: both;
}

p.refNum {
 font-size: 20.0px;
}

.blueFont{
	color:#0099FF;
  padding-right: 20px;
}

.blueFont:active {
  text-shadow:none !important;
}

.ui-loader .ui-icon-loading .ui-loading{
  background: transparent !important;

}

.ui-loading .ui-loader {
  display: none !important;
}

.ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb {
    padding-left: 1.25em !important;
}

/*
/*
.custom-navbar ul li a {
    background: #599CE0;
}
*/

/*
.menu1  li a {
    background: #599CE0 ;
    color:#111111;
    text-shadow:none !important;
}

.back a{
    background: #599CE0 !important;
    color:#FFFFFF !important;
    text-shadow:none !important;
}
*/

.back2 {
	    color:#FFFFFF !important;
      text-shadow:none !important;
}
/*
.ui-page .ui-header {
    background: #599CE0;
}
*/

.ui-icon-side {
  background: url(menu.png) 50% 50% no-repeat;
  background-size: 38px 38px;
  width: 30px;
  height: 30px;
  box-shadow: none !important;
  margin: -2px !important;
  margin-left:0px!important;
}

#myPanel
{
	 background: #0099FF;
}


.sub{
	width: 50%;
}



.icon-right{
  position: absolute;
  top: 0px;
  right: 0px;
    width: 61px;
    height: 61px;
}

.texts-left{
  position: absolute;

}

.wrap {
    white-space: normal !important;
}

.ui-page-theme-a .ui-btn{
  text-shadow:none !important;
}

.ui-listview > li h6 {
font-size: 0.8em !important;
margin: 0em 1.5em 0 0 !important;
}


.behind {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.behind a.ui-btn {
    width: 68px;
    margin: 0px;
    float: right;
    border: none;
}
.behind a.swipe-btn, .behind a.swipe-btn:active, .behind a.swipe-btn:visited, .behind a.swipe-btn:focus, .behind a.swipe-btn:hover {
    color: white;
    background-color: #80b636;
    text-shadow: none;
    height: 80%;
    font-size: small;
  }
.behind a.ui-btn.pull-left {
    float: left;
}



