

#actionList {
	clear: both;
}

p.refNum {
 font-size: 20.0px;
}

.blueFont{
	color:#0099FF;
  padding-right: 20px;
}

.blueFont:active {
  text-shadow:none !important;
}

.ui-loader .ui-icon-loading .ui-loading{
  background: transparent !important;
  
}

.ui-loading .ui-loader {
  display: none !important;
}

/*
/*
.custom-navbar ul li a {
    background: #599CE0;
}
*/

/*
.menu1  li a {
    background: #599CE0 ;
    color:#111111;
    text-shadow:none !important;
}

.back a{
    background: #599CE0 !important;
    color:#FFFFFF !important;
    text-shadow:none !important;
}
*/

.back2 {
	    color:#FFFFFF !important;
      text-shadow:none !important;
}
/*
.ui-page .ui-header {
    background: #599CE0;
}
*/

.ui-icon-side {
  background: url(menu.png) 50% 50% no-repeat;
  background-size: 38px 38px;
  width: 30px;
  height: 30px;
  box-shadow: none !important;
  margin: -2px !important;
  margin-left:0px!important;
}

#myPanel
{
	 background: #0099FF;
}


.sub{
	width: 50%;
}



.icon-right{
  position: absolute;
  top: 0px;
  right: 0px;
    width: 61px;
    height: 61px;
}

.texts-left{
  position: absolute;

}

.wrap {
    white-space: normal !important;
}

.ui-page-theme-a .ui-btn{
  text-shadow:none !important;
}

.ui-listview > li h6 {
font-size: 0.8em !important;
margin: 0em 1.5em 0 0 !important;
}


