<ion-view view-title="{{ 'template.trip.notes.title' | translate }}">
  <ion-content class="padding">
      <br>
      <div class="row no-padding">
          <button ng-click="discardNotes()" class="col button button-block button-assertive margin-lr-2 default-lh">             
              {{ 'template.trip.notes.discard' | translate }}
          </button>
          <button ng-click="saveNotes()" class="col button button-block button-balanced margin-lr-2 default-lh">
              {{ 'template.trip.notes.save' | translate }}
          </button>
       </div>
      <h4 class="energized">{{ 'template.trip.notes.description' | translate }} - {{ trip.travel_type | underscoreless | TitleCase}}</h4>
      <label class="item padding-top item-input item-stacked-label">
        <textarea ng-model="data.text" placeholder="{{ 'template.trip.notes.insert' | translate }}" rows="10" cols="10">
        </textarea>
      </label>
  </ion-content>
</ion-view>