<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="{{ 'template.trip.report.drafts' | translate }}" icon-off="ion-document" icon-on="ion-document-text" href="#app/reporting/{{ trip.id }}/drafts">
    <ion-nav-view name="tab-drafts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'template.trip.report.text' | translate }}" icon-off="ion-document" icon-on="ion-document-text" href="#app/reporting/{{ trip.id }}/text">
    <ion-nav-view name="tab-text"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'template.trip.report.picture' | translate }}" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#app/reporting/{{ trip.id }}/picture">
    <ion-nav-view name="tab-pic"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{ 'template.trip.report.actions' | translate }}" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#app/reporting/{{ trip.id }}/aps">
    <ion-nav-view name="tab-aps"></ion-nav-view>
  </ion-tab>