<ion-view view-title="{{ 'template.trip.report.drafts.title' | translate }}">

  <ion-content class="padding">
    <!-- <p>{{ trip }}</p> -->
      <h4 class="energized">{{ 'template.trip.report.drafts.progress' | translate }}<h4>
      <label class="item padding-top item-input item-stacked-label">
        <textarea ng-model="data.main_observations" placeholder="{{ 'template.trip.report.drafts.insert_findings' | translate }}" rows="10" cols="10">
        </textarea>
      </label>


      <br>
      <h4 class="energized">{{ 'template.trip.report.drafts.cco' | translate }}</h4>
      <label class="item padding-top item-input item-stacked-label">
        <span class="input-label">{{ 'template.trip.report.drafts.cc' | translate }}</span>
        <textarea ng-model="data.constraints" placeholder="{{ 'template.trip.report.drafts.implementation' | translate }}" rows="4" cols="10">
        </textarea>
      </label>
      <br>
      <label class="item padding-top item-input item-stacked-label">
        <span class="input-label">{{ 'template.trip.report.drafts.lessons_learned' | translate }}</span>
        <textarea ng-model="data.lessons_learned" placeholder="{{ 'template.trip.report.drafts.lessons' | translate }}" rows="4" cols="10">
        </textarea>
      </label>
      <br>
      <label class="item padding-top item-input item-stacked-label">
        <span class="input-label">{{ 'template.trip.report.drafts.opportunities' | translate }}</span>
        <textarea ng-model="data.opportunities" placeholder="{{ 'template.trip.report.drafts.partnerships' | translate }}" rows="4" cols="10">
        </textarea>
      </label>
      <br>
      <button ng-click="saveDrafts()" class="button button-block button-balanced">
          {{ 'template.trip.report.drafts.save_drafts' | translate }}
      </button>
       <div class="row no-padding">
          <button ng-click="discardCurrentChanges()" class="col button button-block button-energized margin-lr-2 default-lh">
              {{ 'template.trip.report.drafts.undo' | translate }}
          </button>
          <button ng-click="replaceWithCurrentReport()" class="col button button-block button-energized margin-lr-2 default-lh">
              {{ 'template.trip.report.drafts.replace' | translate }}
          </button>
       </div>

      <ion-toggle ng-model="dangerZone" toggle-class="toggle-assertive">{{ 'template.trip.report.drafts.danger' | translate }}</ion-toggle>
      <div class="row no-padding">
          <button ng-disabled="!dangerZone" ng-click="textReport()" class="col button button-block button-assertive margin-lr-2 default-lh">
              {{ 'template.trip.report.drafts.send' | translate }}
          </button>

          <button ng-disabled="!dangerZone" ng-click="discardDrafts()" class="col button button-block button-assertive margin-lr-2 default-lh">
              {{ 'template.trip.report.drafts.discard' | translate }}
          </button>
      </div>


          <br>
  </ion-content>
</ion-view>