<ion-view view-title="Text Drafts">

  <ion-content class="padding">
    <!-- <p>{{ trip }}</p> -->
      <h4 class="energized">Draft: Progress Reporting<h4>
      <label class="item padding-top item-input item-stacked-label">
        <textarea ng-model="data.main_observations" placeholder="Insert findings here" rows="10" cols="10">
        </textarea>
      </label>


      <br>
      <h4 class="energized">Draft: Constraints, Challenges, Opportunities</h4>
      <label class="item padding-top item-input item-stacked-label">
        <span class="input-label">Constraints/Challenges:</span>
        <textarea ng-model="data.constraints" placeholder="Implementation constraints that affect achievement of Project" rows="4" cols="10">
        </textarea>
      </label>
      <br>
      <label class="item padding-top item-input item-stacked-label">
        <span class="input-label">Lessons Learned:</span>
        <textarea ng-model="data.lessons_learned" placeholder="Lessons learned from addressing the constraints in the course of the reporting period" rows="4" cols="10">
        </textarea>
      </label>
      <br>
      <label class="item padding-top item-input item-stacked-label">
        <span class="input-label">Opportunities:</span>
        <textarea ng-model="data.opportunities" placeholder="Key partnerships/collaboration and other highlights" rows="4" cols="10">
        </textarea>
      </label>
      <br>
      <button ng-click="saveDrafts()" class="button button-block button-balanced">
          Save Drafts
      </button>
       <div class="row no-padding">
          <button ng-click="discardCurrentChanges()" class="col button button-block button-energized margin-lr-2 default-lh">
              Undo Current Changes
          </button>
          <button ng-click="replaceWithCurrentReport()" class="col button button-block button-energized margin-lr-2 default-lh">
              Replace Drafts With Current Report
          </button>
       </div>

      <ion-toggle ng-model="dangerZone" toggle-class="toggle-assertive">Danger Zone</ion-toggle>
      <div class="row no-padding">
          <button ng-disabled="!dangerZone" ng-click="textReport()" class="col button button-block button-assertive margin-lr-2 default-lh">
              Send As Official Report
          </button>

          <button ng-disabled="!dangerZone" ng-click="discardDrafts()" class="col button button-block button-assertive margin-lr-2 default-lh">
              Discard Drafts
          </button>
      </div>


          <br>
  </ion-content>
</ion-view>