<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="{{ 'template.dashboard.my_trips' | translate }}" icon-off="ion-plane" icon-on="ion-android-plane" href="#app/dash/my_trips">
        <ion-nav-view name="tab-trips"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{ 'template.dashboard.supervised' | translate }}" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#app/dash/supervised">
        <ion-nav-view name="tab-supervised"></ion-nav-view>
    </ion-tab>
</ion-tabs>