<ion-view view-title="Connection Settings">
    <ion-content class="padding">
        <div class="card padding">
            <h4 class="assertive">
                Attention: Changing your connection will log you out.
            </h4>
            <p>
                This setting should not be used unless you are a developer or a designated tester.
            </p>
        </div>
        <ion-radio ng-model="dt.conn_str" ng-value="0">Development</ion-radio>
        <ion-radio ng-model="dt.conn_str" ng-value="1">Staging</ion-radio>
        <ion-radio ng-model="dt.conn_str" ng-value="2">Production</ion-radio>
        <br>
        <button ng-disabled="!(dev_pin == 'c345')" class="button button-block button-calm" ng-click="changeConnection(dt.conn_str)">
          Change Connection
        </button>
        <label class="item item-input">
            <input type="text" ng-model="dev_pin" placeholder="Tester Pin">
        </label>
        <br>
        <p class="txt-grey">When changing connections you should also clear your phone cache for good measure.</p>

    </ion-content>

</ion-view>