<ion-view view-title="Settings">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right" type="item-text-wrap" href="#/app/settings/connection">
                <i class="icon ion-network"></i>
                <h2>Connection</h2>
                <p>Set connection server</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>


  </ion-content>

</ion-view>