<div class="list language-select" ng-if="lang_selector.visible">
    <label class="item item-input item-select">
        <div class="input-label">
            <li class="ion-ios-world" data-pack="ios" data-tags="globe, earth" style="display: inline-block;"></li>            
        </div>
        <select ng-model="lang_selector.currentLocaleDisplayName" ng-options="localesDisplayName for localesDisplayName in lang_selector.localesDisplayNames" ng-change="lang_selector.changeLanguage(lang_selector.currentLocaleDisplayName)">
        </select>
    </label>
</div>