<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-positive button-icon ion-ios-arrow-back" ng-click="vm.closeModal()" />
        <h1 class="title">{{ vm.modal.headerText }}</h1>
    </ion-header-bar>

    <ion-content class="padding">
        <div ng-if="vm.modal.type == 'funding'">
            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.wbs }" style="margin-bottom: 10px;">
                <div class="input-label">
                    {{ 'template.trip.add_trip.wbs' | translate }} <required-label></required-label>
                </div>
                <select ng-change="vm.isFormFieldValid('wbs')" ng-model="vm.trip.wbs" ng-options="item.id as item.wbs for item in vm.data['reports/results']"></select>
            </div>
            <div id="error_wbs" ng-show="vm.error.wbs" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.wbs_message | translate }}
            </div>

            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.grant }" style="margin-bottom: 10px;">
                <div class="input-label">
                    {{ 'template.trip.add_trip.grant' | translate }} <required-label></required-label>
                </div>
                <select ng-change="vm.isFormFieldValid('grant')" ng-model="vm.trip.grant" ng-options="item.id as item.name for item in vm.data['funds/grants']"></select>
            </div>
            <div id="error_grant" ng-show="vm.error.grant" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.grant_message | translate }}
            </div>

            <div class="item item-input ng-class:{ 'error_required': vm.error.percentage }">
                <span class="input-label">
                    {{ 'template.trip.add_trip.percentage' | translate }} <required-label></required-label>
                </span>
                <input ng-change="vm.isFormFieldValid('percentage')" id="percentage" ng-model="vm.trip.percentage" type="number" style="text-align: right;">
            </div>
            <div id="error_percentage" ng-show="vm.error.percentage" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.percentage_message | translate }}
            </div>
        </div>

        <div ng-if="vm.modal.type == 'travel_itinerary'">
            <div class="item item-input ng-class:{ 'error_required': vm.error.origin }" style="margin-bottom: 10px;">
                <span class="input-label">
                    {{ 'template.trip.add_trip.origin' | translate }} <required-label></required-label>
                </span>
                <input ng-change="vm.isFormFieldValid('origin')" id="origin" ng-model="vm.trip.origin" type="text" maxlength="254">
            </div>
            <div id="error_origin" ng-show="vm.error.origin" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.origin_message | translate }}
            </div>

            <div class="item item-input ng-class:{ 'error_required': vm.error.destination }" style="margin-bottom: 10px;">
                <span class="input-label">
                    {{ 'template.trip.add_trip.destination' | translate }} <required-label></required-label>
                </span>
                <input ng-change="vm.isFormFieldValid('destination')" id="destination" ng-model="vm.trip.destination" type="text" maxlength="254">
            </div>
            <div id="error_destination" ng-show="vm.error.destination" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.destination_message | translate }}
            </div>

            <div style="margin-bottom: 10px;" class="item ng-class:{error_required: vm.error.depart === true}">
                 <div class="row" style="padding: 0px;">
                    <div class="col col-50" style="padding: 0px;">
                        <span style="padding: 0px; font-size: 16px; color: #444;">
                            <span ng-hide="vm.trip.depart">
                                {{ 'template.trip.add_trip.depart' | translate }}<required-label></required-label>
                            </span>
                            <span ng-show="vm.trip.depart">
                                {{ vm.trip.depart | date: vm.dateTimeFormat }}
                            </span>
                        </span>
                    </div>
                    <div class="col col-50" style="text-align: right; padding: 0px;">
                        <div id="depart" ion-datetime-picker date time ng-model="vm.trip.depart" ng-change="vm.isFormFieldValid('depart')" title="vm.titleDepartDateTime">
                            <i class="icon ion-ios-arrow-right item-note"></i></div>
                    </div>
                </div>
            </div>
            <div id="error_depart" ng-show="vm.error.depart" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.depart_message | translate }}
            </div>

            <div style="margin-bottom: 10px;" class="item ng-class:{error_required: vm.error.arrive === true}">
                 <div class="row" style="padding: 0px;">
                    <div class="col col-50" style="padding: 0px;">
                        <span style="padding: 0px; font-size: 16px; color: #444;">
                            <span ng-hide="vm.trip.arrive">
                                {{ 'template.trip.add_trip.arrive' | translate }}<required-label></required-label>
                            </span>
                            <span ng-show="vm.trip.arrive">
                                {{ vm.trip.arrive | date: vm.dateTimeFormat }}
                            </span>
                        </span>
                    </div>
                    <div class="col col-50" style="text-align: right; padding: 0px;">
                        <div id="arrive" ion-datetime-picker date time ng-model="vm.trip.arrive" ng-change="vm.isFormFieldValid('arrive')" title="vm.titleArriveDateTime">
                            <i class="icon ion-ios-arrow-right item-note"></i></div>
                    </div>
                </div>
            </div>
            <div id="error_arrive" ng-show="vm.error.arrive" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.arrive_message | translate }}
            </div>

            <div class="item item-input" style="margin-bottom: 10px;">
                <span class="input-label">
                    {{ 'template.trip.add_trip.remarks' | translate }}
                </span>
                <input ng-change="vm.isFormFieldValid('remarks')" id="remarks" ng-model="vm.trip.remarks" type="text" maxlength="254">
            </div>
        </div>

        <br />
        <div style="text-align: center;">
        <button class="button button-positive" ng-click="vm.saveModal()">
            {{ 'template.save' | translate }}
        </button>
    </ion-content>
</ion-modal-view>
