<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-positive button-icon ion-ios-arrow-back" ng-click="vm.closeModal()" />
        <h1 class="title">{{ vm.modal.headerText }}</h1>
    </ion-header-bar>

    <ion-content class="padding add_trip_modal" ng-show="vm.showModalContent">
        <div ng-if="vm.modal.type == 'funding'">
            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.wbs }">
                <div class="input-label">
                    {{ 'template.trip.add_trip.wbs' | translate }} <required-label></required-label>
                </div>
                <select ng-change="vm.isFormFieldValid('wbs')" ng-model="vm.trip.wbs" ng-options="item.id as item.wbs for item in vm.data['reports/results']"></select>
            </div>
            <div id="error_wbs" ng-show="vm.error.wbs" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.wbs_message | translate }}
            </div>

            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.grant }">
                <div class="input-label">
                    {{ 'template.trip.add_trip.grant' | translate }} <required-label></required-label>
                </div>
                <select ng-change="vm.isFormFieldValid('grant')" ng-model="vm.trip.grant" ng-options="item.id as item.name for item in vm.data['funds/grants']"></select>
            </div>
            <div id="error_grant" ng-show="vm.error.grant" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.grant_message | translate }}
            </div>

            <div class="item item-input ng-class:{ 'error_required': vm.error.percentage }">
                <span class="input-label">
                    {{ 'template.trip.add_trip.percentage' | translate }} <required-label></required-label>
                </span>
                <input ng-change="vm.isFormFieldValid('percentage')" id="percentage" ng-model="vm.trip.percentage" type="number" style="text-align: right;">
            </div>
            <div id="error_percentage" ng-show="vm.error.percentage" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.percentage_message | translate }}
            </div>
        </div>

        <div ng-if="vm.modal.type == 'travel_itinerary'">
            <div class="item item-input ng-class:{ 'error_required': vm.error.origin }">
                <span class="input-label">
                    {{ 'template.trip.add_trip.origin' | translate }} <required-label></required-label>
                </span>
                <input ng-change="vm.isFormFieldValid('origin')" id="origin" ng-model="vm.trip.origin" type="text" maxlength="254">
            </div>
            <div id="error_origin" ng-show="vm.error.origin" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.origin_message | translate }}
            </div>

            <div class="item item-input ng-class:{ 'error_required': vm.error.destination }">
                <span class="input-label">
                    {{ 'template.trip.add_trip.destination' | translate }} <required-label></required-label>
                </span>
                <input ng-change="vm.isFormFieldValid('destination')" id="destination" ng-model="vm.trip.destination" type="text" maxlength="254">
            </div>
            <div id="error_destination" ng-show="vm.error.destination" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.destination_message | translate }}
            </div>

            <div class="item ng-class:{error_required: vm.error.depart === true}">
                 <div class="row" style="padding: 0px;">
                    <div class="col col-50" style="padding: 0px;">
                        <span style="padding: 0px; font-size: 16px; color: #444;">
                            <span ng-hide="vm.trip.depart">
                                {{ 'template.trip.add_trip.depart' | translate }}<required-label></required-label>
                            </span>
                            <span ng-show="vm.trip.depart">
                                {{ vm.trip.depart | date: vm.dateTimeFormat }}
                            </span>
                        </span>
                    </div>
                    <div class="col col-50" style="text-align: right; padding: 0px;">
                        <div id="depart" ion-datetime-picker date time ng-model="vm.trip.depart" ng-change="vm.isFormFieldValid('depart')" title="vm.titleDepartDateTime">
                            <div style="width: 100%; cursor:pointer; white-space: normal;">
                                <i class="icon ion-ios-arrow-right item-note"></i>
                                <span style="color: white">
                                &nsbp;&nsbp;
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="error_depart" ng-show="vm.error.depart" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.depart_message | translate }}
            </div>

            <div class="item ng-class:{error_required: vm.error.arrive === true}">
                 <div class="row" style="padding: 0px;">
                    <div class="col col-50" style="padding: 0px;">
                        <span style="padding: 0px; font-size: 16px; color: #444;">
                            <span ng-hide="vm.trip.arrive">
                                {{ 'template.trip.add_trip.arrive' | translate }}<required-label></required-label>
                            </span>
                            <span ng-show="vm.trip.arrive">
                                {{ vm.trip.arrive | date: vm.dateTimeFormat }}
                            </span>
                        </span>
                    </div>
                    <div class="col col-50" style="text-align: right; padding: 0px;">
                        <div id="arrive" ion-datetime-picker date time ng-model="vm.trip.arrive" ng-change="vm.isFormFieldValid('arrive')" title="vm.titleArriveDateTime">
                            <i class="icon ion-ios-arrow-right item-note"></i>
                            <span style="color: white">
                                &nsbp;&nsbp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="error_arrive" ng-show="vm.error.arrive" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.arrive_message | translate }}
            </div>

            <div class="item item-input">
                <span class="input-label">
                    {{ 'template.trip.add_trip.remarks' | translate }}
                </span>
                <input ng-change="vm.isFormFieldValid('remarks')" id="remarks" ng-model="vm.trip.remarks" type="text" maxlength="254">
            </div>
        </div>

        <div ng-if="vm.modal.type == 'travel_type'">
            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.travel_type }">
                <div class="input-label">
                    {{ 'template.trip.add_trip.travel_type' | translate }} <required-label></required-label>
                </div>
                <select ng-change="vm.isFormFieldValid('travel_type');vm.setTravelItineraryFields(vm.trip.travel_type);" ng-model="vm.trip.travel_type" ng-options="item.id as item.name for item in vm.data['travel_type']"></select>
            </div>
            <div id="error_travel_type" ng-show="vm.error.travel_type" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.travel_type_message | translate }}
            </div>

            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.partner, 'disabled' : vm.travel_type_item_disabled }">
                <div class="input-label">
                    {{ 'template.trip.add_trip.travel_type.partner' | translate }} <required-label></required-label>
                </div>
                <select ng-disabled="vm.travel_type_item_disabled" ng-change="vm.isFormFieldValid('partner')" ng-model="vm.trip.partner" ng-options="item.id as item.name for item in vm.data['partners']"></select>
            </div>
            <div id="error_partner" ng-show="vm.error.partner" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.partner | translate }}
            </div>

            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.intervention, 'disabled' : vm.travel_type_item_disabled  }">
                <div class="input-label">
                    {{ 'template.trip.add_trip.travel_type.intervention' | translate }} <required-label></required-label>
                </div>
                <select ng-disabled="vm.travel_type_item_disabled" ng-change="vm.isFormFieldValid('intervention')" ng-model="vm.trip.intervention" ng-options="item.id as (item.pca_number + ' : ' + item.pca_title) for item in vm.data['interventions']"></select>
            </div>
            <div id="error_intervention" ng-show="vm.error.intervention" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.intervention | translate }}
            </div>

            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.result, 'disabled' : vm.travel_type_item_disabled  }">
                <div class="input-label">
                    {{ 'template.trip.add_trip.travel_type.result' | translate }} <required-label></required-label>
                </div>
                <select ng-disabled="vm.travel_type_item_disabled" ng-change="vm.isFormFieldValid('result')" ng-model="vm.trip.result" ng-options="item.id as item.wbs for item in vm.data['reports/results']"></select>
            </div>
            <div id="error_result" ng-show="vm.error.result" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.result | translate }}
            </div>

            <div class="item item-input item-select ng-class:{ 'error_required': vm.error.location }">
                <div class="input-label">
                    {{ 'template.trip.add_trip.location' | translate }} <required-label></required-label>
                </div>
                <select ng-change="vm.isFormFieldValid('location')" ng-model="vm.trip.location" ng-options="item.id as item.name for item in vm.data['locations']"></select>
            </div>
            <div id="error_location" ng-show="vm.error.location" ng-cloak class="error_add_trip_form_message">
                {{ vm.error.location_message | translate }}
            </div>
        </div>

        <br />
        <div style="text-align: center;">
        <button class="button button-positive" ng-click="vm.saveModal()">
            {{ 'template.save' | translate }}
        </button>
    </ion-content>
</ion-modal-view>
