<ion-view view-title="{{ 'template.trip.add_trip' | translate }}">
    <ion-content class="padding">
        <ionic-select
            id="travellers"
            required="true"
            header-text="{{ 'template.trip.add_trip.traveller.header' | translate }}"
            text="{{ 'template.trip.add_trip.traveller.text' | translate }}"
            items="vm.data.users"
            value="traveller"
            value-property="user_id"
            text-property="full_name"
            allow-empty="false"
            multi-select="true"
            modal-template-url="templates/trips/add_trip_modal_template.html"
            template-url="templates/trips/add_trip_item_template.html"
            value-changed="vm.onValueChanged('traveller', value)"
            error="vm.error.traveller">
        </ionic-select>
        <div id="error_traveller" ng-show="vm.error.traveller" ng-cloak class="error_add_trip_form_message">
            {{ vm.error.traveller_message | translate }}
        </div>

        <ionic-select
            id="supervisor"
            required="true"
            header-text="{{ 'template.trip.add_trip.supervisor.header' | translate }}"
            text="{{ 'template.trip.add_trip.supervisor.text' | translate }}"
            items="vm.data.users"
            value="supervisor"
            value-property="user_id"
            text-property="full_name"
            allow-empty="false"
            multi-select="false"
            modal-template-url="templates/trips/add_trip_modal_template.html"
            template-url="templates/trips/add_trip_item_template.html"
            value-changed="vm.onValueChanged('supervisor', value)"
            error="vm.error.supervisor">
        </ionic-select>
        <div id="error_supervisor" ng-show="vm.error.supervisor" ng-cloak class="error_add_trip_form_message">
            {{ vm.error.supervisor_message | translate }}
        </div>

        <ionic-select
            id="section"
            required="true"
            header-text="{{ 'template.trip.add_trip.section.header' | translate }}"
            text="{{ 'template.trip.add_trip.section.text' | translate }}"
            items="vm.data.sections"
            value="section"
            value-property="id"
            text-property="name"
            allow-empty="false"
            multi-select="false"
            modal-template-url="templates/trips/add_trip_modal_template.html"
            template-url="templates/trips/add_trip_item_template.html"
            value-changed="vm.onValueChanged('section', value)"
            error="vm.error.section">
        </ionic-select>
        <div id="error_section" ng-show="vm.error.section" ng-cloak class="error_add_trip_form_message">
            {{ vm.error.section_message | translate }}
        </div>

        <ionic-select
            id="office"
            required="true"
            header-text="{{ 'template.trip.add_trip.office.header' | translate }}"
            text="{{ 'template.trip.add_trip.office.text' | translate }}"
            items="vm.data.offices"
            value="office"
            value-property="id"
            text-property="name"
            allow-empty="false"
            multi-select="false"
            modal-template-url="templates/trips/add_trip_modal_template.html"
            template-url="templates/trips/add_trip_item_template.html"
            value-changed="vm.onValueChanged('office', value)"
            error="vm.error.office">
        </ionic-select>
        <div id="error_office" ng-show="vm.error.office" ng-cloak class="error_add_trip_form_message">
            {{ vm.error.office_message | translate }}
        </div>

        <div style="margin-bottom: 10px;">
            <label class="item item-input" ng-class="{error_required: vm.error.purpose_of_travel === true}">
                <textarea id="purpose_of_travel" ng-model="vm.trip.purpose_of_travel" onchange="" maxlength="254" placeholder="{{ 'template.trip.add_trip.purpose_of_travel' | translate }} *" style="font-size: 16px; height: 100px;" ng-change="vm.isFormFieldValid('purpose_of_travel')"></textarea>
            </label>
        </div>
        <div id="error_purpose_of_travel" ng-show="vm.error.purpose_of_travel" ng-cloak class="error_add_trip_form_message">
            {{ vm.error.purpose_of_travel_message | translate }}
        </div>

        <div style="margin-bottom: 10px;">
            <label class="item item-input" ng-class="{error_required: vm.error.start_date === true}">
                <span class="input-label">{{ 'template.trip.add_trip.start_date' | translate }} <required-label></required-label></span>
                <input id="start_date" ng-model="vm.trip.start_date" type="date" ng-change="vm.isFormFieldValid('start_date')">
                <i class="icon ion-ios-arrow-right item-note" style="margin-right: 20px;"></i>
            </label>
        </div>
         <div id="error_start_date" ng-show="vm.error.start_date" ng-cloak class="error_add_trip_form_message">
            {{ vm.error.start_date_message | translate }}
        </div>

        <div style="margin-bottom: 10px;">
            <label class="item item-input" ng-class="{error_required: vm.error.end_date === true}">
                <span class="input-label">{{ 'template.trip.add_trip.end_date' | translate }} <required-label></required-label></span>
                <input id="end_date" ng-model="vm.trip.end_date" type="date" placeholder="Date" ng-change="vm.isFormFieldValid('end_date')">
                <i class="icon ion-ios-arrow-right item-note" style="margin-right: 20px;"></i>
            </label>
        </div>
        <div id="error_end_date" ng-show="vm.error.end_date" ng-cloak class="error_add_trip_form_message">
            {{ vm.error.end_date_message | translate }}
        </div>

        <div style="margin-bottom: 10px; padding-bottom: 0px;" class="item">
            <div class="row" style="padding: 0px;">
                <div class="col col-50" style="padding: 0px;">
                    <span style="padding: 0px; font-size: 16px; color: #444;">{{ 'template.trip.add_trip.funding' | translate }}</span>
                </div>
                <div class="col col-50" style="text-align: right; padding: 0px;">
                    <button class="button button-small ion-ios-plus-outline pull-right" ng-click="vm.openModal('funding')" style="top: -8px;""></button>
                </div>
            </div>

            <div ng-repeat="tripfund in vm.trip.tripfunds_set" class="list card" style="font-weight: normal; margin: 10px;">
                <div class="item">
                    <div class="row">
                        <div class="col col-75 item-text-wrap">
                            <h3>{{ tripfund.wbs_name }}, {{ tripfund.amount }}%</h3>
                            <p>{{ tripfund.grant_name }}</p>
                        </div>
                        <div class="col col-25 col-center" style="text-align: right;">
                            <button class="button button-small ion-compose"></button>&nbsp;
                            <button class="button button-small ion-ios-close-outline" ng-click="vm.deleteMultiAddItem('funding', tripfund)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ion-checkbox class="item-checkbox-right" ng-model="vm.trip.international_travel" style="margin-bottom: 10px;">
            {{ 'template.trip.add_trip.international_travel' | translate }}
        </ion-checkbox>

        <ionic-select
            id="travel_focal_point"
            required="true"
            header-text="{{ 'template.trip.add_trip.travel_focal_point.header' | translate }}"
            text="{{ 'template.trip.add_trip.travel_focal_point.text' | translate }}"
            items="vm.data.users"
            value="travel_focal_point"
            value-property="user_id"
            text-property="full_name"
            allow-empty="false"
            multi-select="true"
            modal-template-url="templates/trips/add_trip_modal_template.html"
            template-url="templates/trips/add_trip_item_template.html"
            value-changed="vm.onValueChanged('travel_focal_point', value)"
            error="vm.error.travel_focal_point">
        </ionic-select>
        <div id="error_travel_focal_point" ng-show="vm.error.travel_focal_point" ng-cloak class="error_add_trip_form_message">
            {{ vm.error.travel_focal_point_message | translate }}
        </div>

        <ionic-select
            id="budget_owner"
            required="false"
            header-text="{{ 'template.trip.add_trip.budget_owner.header' | translate }}"
            text="{{ 'template.trip.add_trip.budget_owner.text' | translate }}"
            items="vm.data.users"
            value="budget_owner"
            value-property="user_id"
            text-property="full_name"
            allow-empty="false"
            multi-select="false"
            modal-template-url="templates/trips/add_trip_modal_template.html"
            template-url="templates/trips/add_trip_item_template.html"
            value-changed="vm.onValueChanged('budget_owner', value)">
        </ionic-select>

        <button class="button button-full button-positive" ng-click="vm.save()">
            {{ 'template.trip.add_trip.save_trip' | translate }}
        </button>
    </ion-content>
</ion-view>