<ion-view view-title="{{ 'template.dashboard.my_trips' | translate }}">
    <ion-content>
        <ion-refresher pulling-text="{{ 'template.dashboard.pull_to_refresh' | translate }}" on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-switch="trip.status" class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="trip in vm.filteredTrips" type="item-text-wrap" href="#/app/dash/my_trips/{{trip.id}}">

                <i ng-switch-when="planned" class="icon ion-android-checkbox-outline-blank"></i>
                <i ng-switch-when="submitted" class="icon ion-android-done"></i>
                <i ng-switch-when="approved" class="icon ion-android-done-all"></i>

                <h2>{{trip.purpose_of_travel}}</h2>
                <p>{{trip.travel_type | underscoreless | TitleCase }}</p>
                <p> {{ trip.from_date | date : vm.dateFormat }} -> {{ trip.to_date | date : vm.dateFormat }}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button ng-show="trip.status=='approved'" class="button-calm" ng-click="vm.goReport(trip.id)">
                    {{ 'template.dashboard.report' | translate }}
                </ion-option-button>
                <ion-option-button ng-show="trip.status=='planned'" class="button-balanced" ng-click="vm.submit(trip.id)">
                    {{ 'template.dashboard.submit' | translate }}
                </ion-option-button>
            </ion-item>
            <ion-item ng-hide="vm.filteredTrips.length">
                <h2>{{ 'template.dashboard.no_my_trips' | translate }}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>