<ion-view view-title="{{ 'template.dashboard.supervised' | translate }}">
    <ion-content>
        <ion-refresher pulling-text="{{ 'template.dashboard.pull_to_refresh' | translate }}" on-refresh="vm.doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-switch="trip.status" class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="trip in vm.filteredTrips" type="item-text-wrap" href="#/app/dash/supervised/{{trip.id}}">
                <i ng-switch-when="planned" class="icon ion-android-checkbox-outline-blank"></i>
                <i ng-switch-when="submitted" class="icon ion-android-done"></i>
                <i ng-switch-when="approved" class="icon ion-android-done-all"></i>

                <h2>{{ trip.traveller }}</h2>
                <p>{{ trip.travel_type | underscoreless | TitleCase }}</p>
                <p> {{ trip.from_date | date : vm.dateFormat }} -> {{ trip.to_date | date : vm.dateFormat }}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button ng-hide="trip.approved_by_supervisor" class="button-positive" ng-click="vm.approve(trip.id)">
                    {{ 'template.dashboard.i_approve' | translate }}
                </ion-option-button>
            </ion-item>
            <ion-item ng-hide="vm.filteredTrips.length">
                <h2>{{ 'template.dashboard.not_supervising_trips' | translate }}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>