<?xml version='1.0' encoding='utf-8'?>
<widget id="com.unicef.trips" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Equitrip</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="fullscreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>

<preference name="StatusBarStyle" value="blackopaque" />

         <platform name="ios">
              <!-- iOS 8.0+ -->
              <!-- iPhone 6 Plus  -->
              <icon src="www/pics/ios/icon-60@3x.png" width="180" height="180" />
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="www/pics/ios/icon-60.png" width="60" height="60" />
              <icon src="www/pics/ios/icon-60@2x.png" width="120" height="120" />
              <!-- iPad -->
              <icon src="www/pics/ios/icon-76.png" width="76" height="76" />
              <icon src="www/pics/ios/icon-76@2x.png" width="152" height="152" />
              <!-- iOS 6.1 -->
              <!-- Spotlight Icon -->
              <icon src="www/pics/ios/icon-40.png" width="40" height="40" />
              <icon src="www/pics/ios/icon-40@2x.png" width="80" height="80" />
              <!-- iPhone / iPod Touch -->
              <icon src="www/pics/ios/icon.png" width="57" height="57" />
              <icon src="www/pics/ios/icon@2x.png" width="114" height="114" />
              <!-- iPad -->
              <icon src="www/pics/ios/icon-72.png" width="72" height="72" />
              <icon src="www/pics/ios/icon-72@2x.png" width="144" height="144" />
              <!-- iPhone Spotlight and Settings Icon -->
              <icon src="www/pics/ios/icon-small.png" width="29" height="29" />
              <icon src="www/pics/ios/icon-small@2x.png" width="58" height="58" />
              <!-- iPad Spotlight and Settings Icon -->
              <icon src="www/pics/ios/icon-50.png" width="50" height="50" />
              <icon src="www/pics/ios/icon-50@2x.png" width="100" height="100" />

             <splash src="www/pics/ios/Default-portrait~iphone.png" width="320" height="480"/>
             <splash src="www/pics/ios/Default-portrait@2x~iphone4.png" width="640" height="960"/>
             <splash src="www/pics/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
             <splash src="www/pics/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
             <splash src="www/pics/ios/Default-portrait@2x~iphone5.png" width="640" height="1136"/>
             <splash src="www/pics/ios/Default-portrait@2x~iphone6.png" width="750" height="1334"/>

     </platform>

     <platform name="android">
              <icon src="www/pics/android/icon-36.png" density="ldpi" />
              <icon src="www/pics/android/icon-48.png" density="mdpi" />
              <icon src="www/pics/android/icon-72.png" density="hdpi" />
              <icon src="www/pics/android/icon-96.png" density="xhdpi" />
              <icon src="www/pics/android/icon-144.png" density="xxhdpi" />
              <icon src="www/pics/android/icon-192.png" density="xxxhdpi" />

             <splash src="www/pics/android/200x320.png" density="port-hdpi"/>
             <splash src="www/pics/android/320x480.png" density="port-ldpi"/>
             <splash src="www/pics/android/480x800.png" density="port-mdpi"/>
             <splash src="www/pics/android/720x1280.png" density="port-xhdpi"/>
             <splash src="www/pics/android/1242x2208.png" density="port-xxhdpi"/>
     </platform>


    <access origin="*" />
</widget>
