.txt-grey{
    color: #676767;
}
.li-center{
    text-align:center;
}
.img-logo{
    display: block;
    max-width:40%;
    margin: 0 auto;

}
.less-padding{
    padding: 8px;
}
.no-padding{
    padding: 0px;
}
.unicef-blue{
    color: #009ee3;
}

.bck-grey{
    background-color: #f5f5f5;
}
.bck-white{
    background-color: #ffffff;
}
.margin-lr-2{
    margin-left: 2px;
    margin-right: 2px;
}
.default-lh{
    line-height: inherit;
}