.txt-grey{
    color: #676767;
}
.li-center{
    text-align:center;
}
.img-logo{
    display: block;
    max-width:40%;
    margin: 0 auto;

}
.less-padding{
    padding: 8px;
}
.unicef-blue{
    color: #009ee3;
}